.btn {
  background-color: rgb(231, 137, 13);
  text-align: center;
  font-size: 50px;
  size: 30px;

}

.b{
    background-color: rgb(219, 2, 219);
    text-align: center;
}

.n{
    background-color: rgb(44, 226, 19);
   text-align: center; 
}
